#loading{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:#6996c1;
}
#loading img{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
}
.fadeout{
	opacity:0;
	transition:all .3s ease;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.layout{
	display: flex;
	align-content: center;
	justify-content: center;
}
button{
	margin:10px 10px;
}
